/*utilities*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.conteiner {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.conteiner-sm {
    width: 60%;
    margin: 0%;
    max-width: 1200px;
}

.d-flex {
    display: flex;
}

section {
    padding: 1rem;
}


/*#endregion utilities*/

/*#region debug*/

.debug 
    header {
    background-color: #3161e0;
}

section {
    min-height: 400px;
    /*background-color: rgb(131, 81, 177);*/
}

.w-60 {
    width: 60%;
    /*background-color: red;*/
}

.w-40 {
    width: 40%;
    /*background-color: pink;*/
}


/*#endregion debug*/

/*#region-header*/

header nav {
    max-width: 1200px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

div a {
    padding: 10px;
}

#button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 999px;
    border:#3161e0;
    padding: 7px;
    background-color: white;
}


/*#endregion-header*/

/*#region-beanner*/

.banner {
    background-image: url(./img/jumbo.png);
    background-size: 100%;
    height: 400px;
    padding: 50px 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

.banner .conteiner {    
    height: 100%;
    align-items: center;
}

#scarica {
   border-radius: 999px;
   border: 1px solid gray;
   background-color: white;
   color: black;
}

#browser {
    background-color: black;
    color: white;
    border-radius: 999px;
}

.intro {
    text-align: center;
    margin: 20px;
}


/*#endregion-banner*/

/*#region-study*/

#study-group {
    background-color: white;
    margin-bottom: 150px;
}

.w-40 {
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#study-group,
.w-40 h3 {
    font-size:xx-large;
    padding-bottom: 40px;
}


#study-group,
.w-40 p {
    font-size: small;
}

/*#endregion-study*/

/*#region-voice*/

#voice .w-40 p {
    padding-right: 50px;
}

/*#endregion-study*/

/*#region-community*/

#community {
    margin-top: 150px;
    background-color: white;
}

/*#endregion-community*/

/*#region-chillin*/

.chillin {
    text-align: center;
}

/*#endregion-chillin*/





